<!-- Toolbar -->
<div class="toolbar" role="banner">
  
  <span>{{ title }}</span>
    <div class="spacer"></div>
    
</div>

<div class="content" role="main">

  <!-- Correo Electronico -->
  <h2>Correo</h2>
  <p>juandahur@gmail.com</p>

  <!-- Profesión -->
  <h2>Profesión</h2>
  <p>Ing. Electrónico</p>

  <!-- Perfil -->
  <h2>Perfil profesional</h2>
  <p>Profesional proactivo con capacidad de trabajo en
    equipo, liderazgo y relaciones interpersonales, dispuesto a
    emplear todo su potencial profesional y humanístico, para
    el beneficio tanto colectivo como personal.
    Interesado en fortalecer mis conocimientos en
    programación y en los datos como una herramienta de proyección de los negocios.</p>

  <!-- Github -->
  <h2>Github</h2>
  <a href="https://github.com/juandahur">https://github.com/juandahur</a>

  <h2>LinkedIn</h2>
  <a href="https://www.linkedin.com/in/juan-david-hurtado-serna-2a2b7a127/">https://www.linkedin.com/in/juan-david-hurtado-serna-2a2b7a127/</a>

</div>


  

