<!-- Toolbar -->

<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="col-lg-6 mx-auto">
    <div class="display-5 fw-bold text-white">
         <span>{{ title }}</span>
          <div class="spacer"></div>
   </div>
  </div>

<div class="bg-dark text-secondary px-4 py-5 text-center"> 
   
      <div class="col-lg-6 mx-auto"> 

            <!-- Perfil -->
            <h2 class="display-6 fw-normal text-white">Perfil profesional</h2>
              <p class="fs-5 mb-4">Profesional proactivo con capacidad de trabajo en
                equipo, liderazgo y relaciones interpersonales, dispuesto a
                emplear todo su potencial profesional y humanístico, para
                el beneficio tanto colectivo como personal.
                Interesado en fortalecer mis conocimientos en
                programación y en los datos como una herramienta de proyección de los negocios.</p>

       
      </div>
   
</div>


  <div class="bg-dark text-secondary px-4 py-6 text-center"> 
     
        <div class="col-lg-4 mx-auto"> 
           
              <!-- Profesión -->
              <h2 class="display-6 fw-normal text-white">Profesión</h2>
              <p class="fs-6 mb-2">Ing. Electrónico</p>

              <!-- Correo Electronico -->

              <h2 class="display-6 fw-normal text-white">Correo</h2>
              <p class="fs-6 mb-2">juandahur@gmail.com</p>
              

              <!-- Github -->
              <h2 class="display-6 fw-normal text-white">Github</h2>
              <a href="https://github.com/juandahur">https://github.com/juandahur</a>

              <h2 class="display-6 fw-normal text-white">LinkedIn</h2>
              <a href="https://www.linkedin.com/in/juan-david-hurtado-serna-2a2b7a127/">https://www.linkedin.com/in/juan-david-hurtado-serna-2a2b7a127/</a>

         

        </div>
   
  </div>
</div>
  

