<app-navbar></app-navbar>
<div class="bg-dark text-secondary py-4 px-4 text-center">
    
    <!-- Show it when there is no transaction -->
    <div class="no-data text-center" *ngIf="Transactions.length == 0">
      <p>There is no transaction added yet!</p>
      
    </div>
     <!-- Transaction list table, it hides when there is no transaction -->
    <div *ngIf="Transactions.length !== 0">
      <h3 class="mb-auto text-center text-secondary">Transaction List</h3>
      <div class="col-12">
        <table class="table table-responsive-sm  text-secondary table-dark table-bordered" >
          <thead>
            <tr>
              <th scope="col">Transaction Id</th>
              <th scope="col">Transaction Type</th>
              <th scope="col">Description</th>
              <th scope="col">Value</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of Transactions">
              <td>{{ transaction.id }}</td>
              <td>{{ transaction.transactionType }}</td>
              <td>{{ transaction.description }}</td>
              <td>{{ transaction.value }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
    <button class="btn btn-outline-secondary" type="button" routerLink="/products">
      Back
    </button>
 
</div>

