
      <div class="row"> 
            <div class="col-lg-7">
                  <div class="display-4 fw-bold text-white px-5 py-5">
                        <span>{{ title }}</span>
                        <div class="spacer"></div>
                  </div>
            
                  <div class="col mx-auto px-4 py-4"> 
            
                        <!-- Perfil -->
                        <h2 class="display-5 fw-normal text-white">Perfil profesional</h2>
                        <p class="display-5 fs-5 mx-auto text-secondary">Profesional proactivo con capacidad de trabajo en
                              equipo, liderazgo y relaciones interpersonales, dispuesto a
                              emplear todo su potencial profesional y humanístico, para
                              el beneficio tanto colectivo como personal.
                              Interesado en fortalecer mis conocimientos en
                              programación y en los datos como una herramienta de proyección de los negocios.</p>
            
                  
                  </div>
                        <div class="row px-4 py-4">
                              <div class="col-lg-6">
                              <!-- Profesión -->
                                    <h2 class="display-5 fw-normal text-white">Profesión</h2>
                                    <p class="display-6 fs-6 mb-2 text-secondary">Ing. Electrónico</p>
                              </div>
                              <!-- Correo Electronico -->
                              <div class="col-lg-6">
                                    <h2 class="display-5 fw-normal text-white">Correo</h2>
                                    <p class="display-7 fw-normal fs-6 mb-2 text-secondary">juandahur@gmail.com</p>
                                    </div>
                        </div>
                        <div class="row px-4 py-4">
                              <!-- Github -->
                              <div class="col-lg-6">
                                    <h2 class="display-5 fw-normal text-white">Github</h2>
                                    <a class="display-7 fw-normal text-secondary" href="https://github.com/juandahur">https://github.com/juandahur</a>
                              </div>
                              <div class="col-lg-6">
                                    <h2 class="display-5 fw-normal text-white">LinkedIn</h2>
                                    <a class="display-7 fw-normal text-secondary" href="https://www.linkedin.com/in/juan-david-hurtado-serna-2a2b7a127/">https://www.linkedin.com/in/juan-david-hurtado-serna-2a2b7a127/</a>
                        
                        </div>
                        </div> 
            </div>  
            <div class="col px-5 py-5">
                  <div class="container-fluid">
                        <button class="btn btn-outline-secondary" [routerLink]="['/menu']">Menu</button>
                  </div>
            </div>
      </div>


  