
      <div class="row"> 
            <div class="col-lg-7">
                  <div class="display-4 fw-bold text-white px-5 py-5">
                        <span>{{ title }}</span>
                        <div class="spacer"></div>
                  </div>
            
                  <div class="col mx-auto px-4 py-4"> 
            
                        <!-- Perfil -->
                        <h2 class="display-5 fw-normal text-white">Profile</h2>
                        <p class="display-5 fs-5 mx-auto text-secondary">Proactive professional with ability for group work, leadership and interpersonal relationships, willing to use all their professional and humanistic potential, to both collective and personal benefit.  Interested in strengthening my knowledge in programming and data as a business projection tool.</p>
            
                  
                  </div>
                        <div class="row px-4 py-4">
                              <div class="col-lg-6">
                              <!-- Profesión -->
                                    <h2 class="display-5 fw-normal text-white">Profession</h2>
                                    <p class="display-6 fs-6 mb-2 text-secondary">Electronic Engineer</p>
                              </div>
                              <!-- email -->
                              <div class="col-lg-6">
                                    <h2 class="display-5 fw-normal text-white">Email</h2>
                                    <p class="display-7 fw-normal fs-6 mb-2 text-secondary">juandahur@gmail.com</p>
                                    </div>
                        </div>
                        <div class="row px-4 py-4">
                              <!-- Github -->
                              <div class="col-lg-6">
                                    <h2 class="display-5 fw-normal text-white">Github</h2>
                                    <a class="display-7 fw-normal text-secondary" href="https://github.com/juandahur">https://github.com/juandahur</a>
                              </div>
                              <!-- LinkedIn -->
                              <div class="col-lg-6">
                                    <h2 class="display-5 fw-normal text-white">LinkedIn</h2>
                                    <a class="display-7 fw-normal text-secondary" href="https://www.linkedin.com/in/juan-david-hurtado-serna-2a2b7a127/">https://www.linkedin.com/in/juan-david-hurtado-serna-2a2b7a127/</a>
                        
                        </div>
                        </div> 
            </div>  
            <div class="col px-5 py-5">
                  <div class="container-fluid">
                        <button class="btn btn-outline-secondary" [routerLink]="['/menu']">Menu</button>
                  </div>
            </div>
      </div>


  