<app-navbar></app-navbar>
<div class="bg-dark text-secondary text-center">

    <!-- Show it when there is no client -->
    <div class="no-data text-center" *ngIf="Clients.length == 0">
      <p>There is no client added yet!</p>
    </div>
     <!-- Clients list table, it hides when there is no client -->
    <div *ngIf="Clients.length !== 0">
        <div>
      <h3 class="mb-3 text-center text-secondary">Clients</h3>
      <button class="btn btn-outline-secondary" type="button" routerLink="/clients-create">
        Add Client
      </button>
    </div>
      <br>
      <div class="col-md-12">
        <table class="table table-bordered text-secondary" >
          <thead>
            <tr>
              <th scope="col">User Id</th>
              <th scope="col">Id Document</th>
              <th scope="col">Id Number</th>
              <th scope="col">Fist Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">email</th>
              <th scope="col">Birthday</th>
              <th scope="col">created By</th>
              <th scope="col">created At</th>
              <th scope="col">modified By</th>
              <th scope="col">modified On</th>
              <th scope="col">Products</th>
              <th scope="col">Saving Account</th>
              <th scope="col">Credit Account</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let client of Clients">
                <td>{{ client.id }}</td>
                <td>{{ client.idDocument }}</td>
                <td>{{ client.idNumber }}</td>
                <td>{{ client.firstName }}</td>
                <td>{{ client.lastName }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.birthDate }}</td>
                <td>{{ client.createdBy }}</td>
                <td>{{ client.createdAt }}</td>
                <td>{{ client.modifiedBy }}</td>
                <td>{{ client.modifiedOn }}</td>

              
                <td>
                    <button class="btn btn-outline-secondary" [routerLink]="['/products',client.id]">View Products</button>
                </td>
                <td> 
                    <button class="btn btn-outline-secondary" (click)="createProduct(client.id,'SA')">NEW</button>
                </td>
                <td>     
                    <button class="btn btn-outline-secondary" (click)="createProduct(client.id,'CA')">NEW</button>
                </td>
                <td>
                    <button class="btn btn-outline-secondary" [routerLink]="['/clients-edit',client.id]">Edit</button>
                </td>
                <td> 
                    <button class="btn btn-outline-danger" (click)="deleteClient(client.id)">Delete</button>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button class="btn btn-outline-secondary" type="button" routerLink="/menu">
        Back
      </button>
    </div>

</div>